{% extends 'base.html.twig' %}


{% block body %}
{% if app.user %}
<div class="contenu" style="width: 980px;">
	<div class="soixantesept">
		<div class="profil_user">

			<div class="left">
				<img
					src="https://imager.habbo-alpha.ws/?figure={{ app.user.look }}&direction=2&head_direction=3&gesture=sml&action=wav&size=l">
			</div>

			<div class="right">

				<div class="uinfo_block" style="width: 300px">
					<p>Votre Pseudo :</p>
					<span> {{ app.user.username }}
						<br>
					<p>Votre Motto :</p>
					<span> {{ app.user.motto }}
						
				</div>



				<div class="entrer">
					<a class="btn" href="./hotel" target="_blank">Entrer dans l'hôtel</a>
				</div>
				<div class="badge_pos">
				</div>
			</div>

		</div>

		<div class="profil_slider">
			{% for CmsActualites in allNews %}


			<div class="slide" id="0" style="background: url('{{ CmsActualites.image }}') left bottom no-repeat;">
				<div class="titre"><b> {{ CmsActualites.title }} </b></div>

				<div class="description">{{ CmsActualites.description }}</div>


				<a href="{{ path('me_news', { 'id': CmsActualites.id })}}">
					<div class="btn">Lire la suite</div>
				</a>
			</div>
			{% endfor %}
		</div>

		<br>

			
	</div>

	<div class="trentetrois">

		<br>
		<div class="box">
			<div class="titre vert">Evenement a venir </div>
			<div class="contenu_box">
				<div class="profil_droite">
					{% for CmsEvenement in allEvents %}
					<a href="./room/13" target="_blank">
						<div class="statut">
							<img src="./dist/img/rooms_green.gif">
						</div>
						<div class="infos">
							<h1>{{ CmsEvenement.title }}</h1>

							<p> Du {{ CmsEvenement.datedebut }} au
								{{ CmsEvenement.datefin }}.</p>
								
						</div>
		
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<br>
{% endif %}
{% endblock %}