{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="news-content">
                <div class="news-article show"
                    style="background-image:url(https://ogimg.infoglobo.com.br/in/5192232-4dc-78c/FT1086A/760/1306_habbo.jpg)">
                    <div class="shadow"></div>

                    <div class="news-content">
                        <div class="news-title">Lorem ipsum</div>
                        <div class="news-short-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </div>
                    </div>

                    <div class="details-box">
                        <div class="back-news"><i class="fal fa-angle-left"></i></div>

                        <div class="authors-details">
                            <div class="written-by">
                                <b>Écrit par:</b>
                                <span>Zorked</span>
                            </div>
                        </div>

                        <a href="news.php" class="btn green news-slider-btn">Weiter lesen</a>

                        <div class="next-news"><i class="fal fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="news-article show"
                    style="background-image:url(https://sm.ign.com/ign_ap/screenshot/default/fgajfxrx0aaxmgs_2934.png)">
                    <div class="shadow"></div>

                    <div class="news-content">
                        <div class="news-title">Lorem ipsum 22222</div>
                        <div class="news-short-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </div>
                    </div>

                    <div class="details-box">
                        <div class="back-news"><i class="fal fa-angle-left"></i></div>

                        <div class="authors-details">
                            <div class="written-by">
                                <b>Écrit par:</b>
                                <span>Ashura</span>
                            </div>
                        </div>

                        <a href="news.php" class="btn green news-slider-btn">Weiter lesen</a>

                        <div class="next-news"><i class="fal fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <iframe src="https://discord.com/widget?id=1117444146412671067&theme=dark" width="340" height="250"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <div class="col-7">
            <div id="content-box">
                
                <div class="title-box png20">
                    <div class="title">Dernières Actualités</div>
                    <div class="desc">Qu'est-ce qui est annoncé actuellement au Habbo Hotel ?</div>
                </div>
                
                <div class="png20">
                    {% for CmsActualites in allNews %}
                    <div class="campaigns">
                        <a href="{{ path('me_news', { 'id': CmsActualites.id })}}">
                            <div class="img"
                                style="background-image:url('{{ CmsActualites.image }}')">
                            </div>
                            <div class="details">
                                <div class="title">{{ CmsActualites.title }}</div>
                                <div class="desc">{{ CmsActualites.description }}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                   
                </div>
            </div>
        </div>

        <div class="col-5">

            <div id="content-box" style="max-height:300px">
                <div class="title-box png20">
                    <div class="title">Evénements</div>
                    <div class="desc">Découvrez les derniers événements sur Habbo</div>
                </div>

                <div class="png20">
                    {% for CmsEvenement in allEvents %}
                    <div class="event">

                        <div class="icon" style="width:13%"><i class="fa fa-play fa-2x" aria-hidden="true"></i></div>
                        <div class="info" style="width:87%">

                            <div class="event_title">{{ CmsEvenement.title }}</div>
                            <div class="event_date">Du
                                <b>{{ CmsEvenement.datedebut }}</b> au
                                <b>{{ CmsEvenement.datefin }}</b>
                            </div>
                            <div style="clear: both"></div>
                            <div class="event_desc">{{ CmsEvenement.description }}</div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endblock %}