{% extends 'base.html.twig' %}

{% block title %}CmsActualites index{% endblock %}

{% block body %}
    <h1>CmsActualites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Content</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cms_actualite in cms_actualites %}
            <tr>
                <td>{{ cms_actualite.id }}</td>
                <td>{{ cms_actualite.title }}</td>
                <td>{{ cms_actualite.description }}</td>
                <td>{{ cms_actualite.content }}</td>
                <td>{{ cms_actualite.image }}</td>
                <td>{{ cms_actualite.createdAt ? cms_actualite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_news_show', {'id': cms_actualite.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_news_edit', {'id': cms_actualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_news_new') }}">Create new</a>
{% endblock %}
