{% extends 'base.html.twig' %}

{% block title %}CmsEvenement index{% endblock %}

{% block body %}
    <h1>CmsEvenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cms_evenement in cms_evenements %}
            <tr>
                <td>{{ cms_evenement.id }}</td>
                <td>{{ cms_evenement.title }}</td>
                <td>{{ cms_evenement.description }}</td>
                <td>{{ cms_evenement.datedebut }}</td>
                <td>{{ cms_evenement.datefin }}</td>
                <td>
                    <a href="{{ path('app_backoffice_events_show', {'id': cms_evenement.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_events_edit', {'id': cms_evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_events_new') }}">Create new</a>
{% endblock %}
