
<!DOCTYPE html>
<html>
<head>
    {% if app.user %}

    
    
	<meta charset="utf-8">
	<title>Salut, {{ app.user.username }}</title>
	<link rel="stylesheet" type="text/css" href="./dist/css/theme.css">
	<link rel="icon" href="./dist/img/favicon.ico"/>
	<script src="./dist/js/jquery.min.js"></script>
	<script src="./dist/js/sweetalert.min.js"></script>
	<!-- DESIGN PAR EKLOPSIS & BILLSTRACK !-->
            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
            {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {% endblock %}
        
            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% endblock %}
</head>
<body>



<header>
	<div class="contenu">
		<div class="logo hint--right" aria-label="Il y a actuellement 1 connectés"><img src="./dist/img/back.png" height="100" width="400"></div>
		<div class="right">
		
			</a>
			<a href="https://discord.gg/Tps3rYwzQR" target="_blank" style="text-decoration: none;color: white;">
				<div class="discord">
					<img src="./dist/img/discord.svg">Nous rejoindre sur Discord
				</div>
			</a>
		</div>
	</div>
</header>
	
	<nav>
		<div class="contenu">
			<div class="left">
				<ul>
					<li class="current"><i class="fa fa-user" aria-hidden="true" style="margin-right: 3px;"></i> ACCUEIL
						<div class="dropdown">
							<div class="start"></div>
							<a href="{{ path('app_me')}}">Mon profil</a>
							{% if app.user.rank > 5 %}
							<a href="{{ path('admin')}}"> Administration </a>
                            {% endif %}
						</div>
					</li>
					<li><i class="fa fa-handshake-o" aria-hidden="true" style="margin-right: 3px;"></i> COMMUNAUTÉ
						<div class="dropdown">
							<div class="start"></div>
							<a href="{{ path('app_news')}}">Les articles</a>
	
							<!--<a href="./monopoly.php">Monopoly</a>
							<a href="./tinder.php">Tinder</a>
							<a href="./ecotron.php">Ecotron v2</a>!-->
							<a href="{{ path('app_staff')}}">L'équipe principale</a>
							<a href="{{ path('app_secondary_staff')}}">L'équipe secondaire</a>

						</div>
					</li>
					
				</ul>
			</div>
			<div class="right">
				<a href="" target="_blank"><div class="entrer">Entrer dans l'hôtel</div></a>

				<a href="{{ path('app_logout')}}"><div class="deconnexion"><i class="fa fa-power-off" aria-hidden="true"></i></div></a>
			
			</div>
		</div>
	</nav>
    {% endif %}

    {% block body %}


    {% endblock %}
</div>
	<br clear="both">
</div>
<footer>
	<div class="footer">
		<div class="footer-left">
			<div class="text-footer"> (c) Copyright - BackHabbo 2020 - 2023. - BackCMS v1.0 <br>Tout droits réservés à leur propriétaire respectif.</div>
		</div>
		<div class="footer-right">
		<div class="text-footer" style="
		text-align: end;
	"></div><div class="col-50 right" style="text-align: right;">Remerciement à BillsTrack, Eklopsis, Zorked & Ayato pour le développement ❤️</div>
			
		</div>
		
	</div>
</footer>