{% extends 'base.html.twig' %}

{% block title %}CmsMusique index{% endblock %}

{% block body %}
    <h1>CmsMusique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Link</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cms_musique in cms_musiques %}
            <tr>
                <td>{{ cms_musique.id }}</td>
                <td>{{ cms_musique.title }}</td>
                <td>{{ cms_musique.link }}</td>
                <td>{{ cms_musique.image }}</td>
                <td>
                    <a href="{{ path('app_backoffice_musique_show', {'id': cms_musique.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_musique_edit', {'id': cms_musique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_musique_new') }}">Create new</a>
{% endblock %}
